curso_ejercicio_13/target/classes/mainFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="mainFlowFlow1" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5" timeUnit="SECONDS"/>
            <watermark variable="lastTransactionID" default-expression="0" selector="MAX" selector-expression="#[payload.transactionID]"/>
            <db:select config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT *
FROM ${db.table}
WHERE transactionID > #[flowVars.lastTransactionID]]]></db:parameterized-query>
            </db:select>
        </poll>
        <batch:execute name="mainFlowBatch1" doc:name="Batch Execute"/>
    </flow>
    <batch:job name="mainFlowBatch1">
        <batch:input>
            <set-property propertyName="count" value="#[1]" doc:name="Property"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="Send_Each_Transaction">
                <vm:outbound-endpoint exchange-pattern="one-way" path="transactions" connector-ref="VM" doc:name="VM"/>
                <enricher source="#[message.inboundProperties.needToBeAudited]" target="#[recordVars.toAudite]" doc:name="Message Enricher">
                    <vm:outbound-endpoint exchange-pattern="request-response" path="validate" connector-ref="VM" doc:name="VM"/>
                </enricher>
                <logger message="ID = #[payload.transactionID], To AUDITE = #[recordVars.toAudite]" level="INFO" doc:name="Logger"/>
            </batch:step>
            <batch:step name="Batch_Step1" accept-expression="#[recordVars.toAudite]">
                <batch:commit size="50" doc:name="Batch Commit">
                    <dw:transform-message doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload]]></dw:set-payload>
                    </dw:transform-message>
                    <file:outbound-endpoint path="${csv.outputpath}" outputPattern="#[&quot;batch-result-&quot; + java.time.LocalDateTime.now() +&quot;.csv&quot;] " responseTimeout="10000" doc:name="File"/>
                </batch:commit>
      
            </batch:step>
        </batch:process-records>
    </batch:job>
    <flow name="mainFlowFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="validate" connector-ref="VM" doc:name="VM"/>
        <set-property propertyName="needToBeAudited" value="true" doc:name="To audite?"/>
    </flow>
    <batch:job name="mainFlowBatch">
        <batch:process-records>
            <batch:step name="Batch_Step"/>
        </batch:process-records>
    </batch:job>
    <flow name="mainFlowFlow2"/>
</mule>
