Curso_Ejercicio_12/target/classes/oretailplus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="OnlineRetailPlus_sendToJMS_Flow">
        <dw:transform-message doc:name="Prepare CSV File" metadata:id="ef920869-187a-4022-8518-26f26e19372c">
            <dw:input-payload doc:sample="sample_data\list_VisaCard_MaG.dwl" mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload map ((payload01 , indexOfPayload01) -> {
	cardNo: payload01.card_no,
	amount: payload01.amount_granted as :string,
	bankOriginationID: "MULEBANK-0949"
})]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="CSV Payload" value="#[payload]" doc:name="Variable"/>
        <jms:outbound-endpoint queue="${partner3.queue}" connector-ref="OnlineRetailPlus_MQ" doc:name="JMS"/>
        <set-payload value="#[flowVars.'CSV Payload']" doc:name="Set Payload"/>
        <file:outbound-endpoint path="${master.fileWrite}" outputPattern="MULEBANK-${partner3.name}-#[flowVars.datetime]-#[flowVars.count].csv" responseTimeout="10000" doc:name="Write to Local"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
