Curso_Ejercicio_4+5/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="getAllAccounts">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT *
FROM ${db.table}
WHERE accountType = #[message.inboundProperties.'http.query.params'.type]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\list_map.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy " ")[0],
	lastName: (payload01.name splitBy " ")[1],
	address: payload01.street ++ ", " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	miles: payload01.miles,
	creationDate: payload01.creationDate as :string,
	type: payload01.accountType
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="getAccountByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT *
FROM ${db.table}
WHERE accountID = #[message.inboundProperties.'http.uri.params'.id]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy " ")[0],
	lastName: (payload01.name splitBy " ")[1],
	address: payload01.street ++ ", " ++ payload01.city ++ ", " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	miles: payload01.miles,
	creationDate: payload01.creationDate as :string,
	type: payload01.accountType
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
